/* h2 {
    color: 
 } this is ELEMENT selector*/

.cherry-swash-regular {
  font-family: "Cherry Swash", serif;
  font-weight: 400;
  font-style: normal;
}

.cherry-swash-bold {
  font-family: "Cherry Swash", serif;
  font-weight: 700;
  font-style: normal;
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: rgb(143, 140, 201);
  font-family: "Cherry Swash", serif;
  font-size: 4rem;
  font-weight: 400;
  font-style: normal;
}

/* * {
    color: whatever
 } this is UNIVERSAL selectr */
* {
  color: rgb(234, 119, 176);
  font-family: "Bungee Spice", sans-serif;
}

p {
  color: brown;
  text-align: center;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

span {
  color: black;
}

/* .class1 {
    padding: 10px;
  } class selector groups and styles elements together */
.my-colors {
  color: rgba(124, 79, 21, 0.858);
}

/* #id1 {
    font-size: 1.5rem;
   }
   id selector */
#venue {
  color: rgb(251, 199, 255);
}

/* data attribute selector

 */

[data-email="email"] {
  color: purple;
}

ul > li {
  color: rgb(104, 208, 81);
}

li > strong {
  color: bisque;
}

/* cascade read from top to bottom, bottom priority, bottom supremacy */
/* specificity, ranking system, specific properties are prioritised
  style attribute> ID? class/pseudo-class/attribute> elements> *
  there was no reason for these rulees but ok WHY IS THERE A HIERARCHY */

/* inheritance applied to parent applied to child????? */
body {
  text-align: center;
  border: 20px solid rgb(120, 207, 247);
  background-image: linear-gradient(
    to bottom,
    #fbabd8,
    #eca7e0,
    #d9a5e8,
    #c2a4ef,
    #a6a4f3,
    #9ba4f4,
    #90a3f5,
    #83a3f5,
    #8aa2f5,
    #92a1f6,
    #999ff5,
    #a09ef5
  );
}
h1 {
  text-align: center;
}

a:hover {
  color: rgb(0, 128, 255);
}
/* CSS size units
px = pixels
REM = rem???
% = % of how much it takes of the screen
viewport unit = vw vh */

/* key text properties
font family: "sans-serif, calibia"
color:red
font-size: 1.5rem
line-height: 1.7
text-align: centre
text-transform: uppercase
font-weight:  */
