/* h2 {
    color: 
 } this is ELEMENT selector*/

.cherry-swash-regular {
  font-family: "Cherry Swash", serif;
  font-weight: 400;
  font-style: normal;
}

.cherry-swash-bold {
  font-family: "Cherry Swash", serif;
  font-weight: 700;
  font-style: normal;
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: rgb(135, 130, 233);
  font-family: "Cherry Swash", serif;
  font-size: 4rem;
  font-weight: 400;
  font-style: normal;
}

/* * {
    color: whatever
 } this is UNIVERSAL selectr */
* {
  color: rgb(234, 119, 176);
  font-family: "Bungee Spice", sans-serif;
}

p {
  color: brown;
  text-align: center;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

span {
  color: black;
}

/* .class1 {
    padding: 10px;
  } class selector groups and styles elements together */
.my-colors {
  color: lightcoral;
}

/* #id1 {
    font-size: 1.5rem;
   }
   id selector */
#venue {
  color: rgb(101, 45, 255);
}

/* data attribute selector

 */

[data-email="email"] {
  color: purple;
}

ul > li {
  color: rgb(104, 208, 81);
}

li > strong {
  color: bisque;
}

/* cascade read from top to bottom, bottom priority, bottom supremacy */
/* specificity, ranking system, specific properties are prioritised
  style attribute> ID? class/pseudo-class/attribute> elements> *
  there was no reason for these rulees but ok WHY IS THERE A HIERARCHY */

/* inheritance applied to parent applied to child????? */
body {
  text-align: center;
  border: 20px solid rgb(120, 207, 247);
}
h1 {
  text-align: center;
}

/* CSS size units
px = pixels
REM = rem???
% = % of how much it takes of the screen
viewport unit = vw vh */

/* key text properties
font family: "sans-serif, calibia"
color:red
font-size: 1.5rem
line-height: 1.7
text-align: centre
text-transform: uppercase
font-weight:  */
