/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

header {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
   vertical-align: top;
  }

  /* I used the body styling from the previous assignment to help me start. I'm still pretty pleased with the typeface used here
  as it's a sans serif, very simple and fits with the aesthetic cohesion. */
body {
    background-color: #6f90ce;
    background-image: radial-gradient(circle, #6d8eca, #6b8cca, #6788c7, #6485c3, #6081c0, #5c7dbc, #597ab7, #5576b3, #5171ad, #4c6ca8, #4868a2, #2c5196);
    /* Used this colour as blue is a very popular and well-known
    colour to the franchise, sells the branding of Pokemon. */
    display: flex;
    text-align: center;
    margin: auto;
    max-width: 1000px;
    flex-direction: column;
    justify-content: space-between;
    padding: 200px;
    align-items: center;
    font-family: "Gaegu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    font-style: normal;
    color: #ffea8a;
    /* I wanted to add a stroke to outline the text similar to Pokemon's brand logo but it didn't work...  */
    /* stroke: #1e556d; */
    /* color: #3c2a21; */
    font-size: 1.1rem;
  }
  
  /* some styling in a previous attempt */
  /* .outer {
    width: 100px;
    min-height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  } */

  .container {
    max-width: 960px;
    margin: auto;
  }
  

  
  h1, h3, p {
    text-align: center;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 40px;
  }
 
  
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  
  .draggable-list {
    padding: 10px;
    display: flex;
   
  }
  
  li {
    list-style: none;
    padding: 10px;
    margin: 5px;
    /* background-color: #cfd8dc; */
    border: 3px solid #a8d8ee;
    border-radius: 20px;
    /* color: #1b2124; */
    height: 100px;
    width: 100px;
    /* The grab cursor from the tutorial is proving very effective as the hand makes it more intuitive for users to
    click and drag the boxes */
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* /* Added a hover feature over the boxes so there's a higher sense of interaction with clicking the Pokemon.
   My only issue is because the 'gen' boxes are under a list too, the hover styling is also applied to them and I
   wasn't sure how to separate the two so the 'gen' boxes also receive hover feedback however, can't be dragged.   */
  
li:hover {
  background-color: rgb(152, 182, 233);
    scale: 1;
    translate: -5px 5px;
}

  /* .over {
    background-color: #90a4ae;
  } */
  
  
  /* table {
    max-width:640px;
    margin: auto;
    margin-bottom: 20px;
    /* border: 1px solid #b0bec5; */
  /* } */ */
  

  /* This piece of styling affects the way the button turns out. I don't want to muddle the names and codes too much so I'd rather leave it here */
  th, td {
    padding: 10px 10px;
  }
  
  td {
    border: 1px solid #7ebad8;
  }
  
  tr:nth-child(even) {
    background-color: #8bc2da;
  }
  
  button {
    margin: auto;
    cursor: pointer;
    display: block;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #68aceb;
    color: #fff;
  }
  
  button:hover {
    background-color: #8bcde9;
  }
  
.btn {
    background-color: #465ca1;
  border: none;
  border-radius: 20px;
  padding-left: .3cm;
  padding-right: .3cm;
  padding-top: .3cm;
  padding-bottom: .3cm;
  text-size-adjust: 20px;
}

  #endMessage {
    display: none;
  }


  /* Some empty code I attempted to use in a previous attempt */
/* .container {
    display: flex;
    gap: 1.5rem;
    
}

h1 {
    font-size: 40px;
}

  .colorbox {
    /* background-color: purple; */
    /* cursor: pointer;
    border: solid;
    border-radius: 20px;
    border-color: #92b1eb;
  } */
  
  /* .dropbox {
    border: 2px dashed #e5e5cb7a;
border-radius: 20px;
  }

  nav {
    margin-top: 20px;
    text-align: center;
  } */ */