/* https://colorhunt.co/palette/1a120b3c2a21d5cea3e5e5cb */

header {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
   vertical-align: top;
  }

body {
    background-color: #6f90ce;
    background-image: radial-gradient(circle, #6f90ce, #6b8cca, #6788c7, #6485c3, #6081c0, #5c7dbc, #597ab7, #5576b3, #5171ad, #4c6ca8, #4868a2, #44639d);
    /* Used this colour as blue is a very popular and well-known
    colour to the franchise, sells the brading of Pokemon. */
    display: flex;
    text-align: center;
    margin: auto;
    max-width: 1000px;
    flex-direction: column;
    justify-content: space-between;
    padding: 200px;
    align-items: center;
    font-family: "Gaegu", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
    font-style: normal;
    color: #d7d7a1;
    stroke: #516a75;
    /* color: #3c2a21; */
    font-size: 1.1rem;
  }
  
  .outer {
    width: 100px;
    min-height: 100px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }
  

  
  h1, h3, p {
    text-align: center;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 40px;
  }
 
  
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
  
  .draggable-list {
    padding: 5px;
    display: flex;
   
  }
  
  li {
    list-style: none;
    padding: 10px;
    margin: 5px;
    /* background-color: #cfd8dc; */
    border: 1px solid #b0bec5;
    border-radius: 20px;
    /* color: #1b2124; */
    height: 100px;
    width: 100px;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .over {
    background-color: #90a4ae;
  }
  
  
  /* table {
    max-width:640px;
    margin: auto;
    margin-bottom: 20px;
    /* border: 1px solid #b0bec5; */
  /* } */ */
  
  th, td {
    padding: 10px 10px;
  }
  
  td {
    border: 1px solid #90a4ae;
  }
  
  tr:nth-child(even) {
    background-color: #81b4ca;
  }
  
  button {
    margin: auto;
    cursor: pointer;
    display: block;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #607d8b;
    color: #fff;
  }
  
  button:hover {
    background-color: #6aa0b8;
  }
  
.btn {
    background-color: #465ca1;
  border: none;
  border-radius: 20px;
  padding-left: .3cm;
  padding-right: .3cm;
  padding-top: .3cm;
  padding-bottom: .3cm;
  text-size-adjust: 20px;
}

  #endMessage {
    display: none;
  }

/* .container {
    display: flex;
    gap: 1.5rem;
    
}

h1 {
    font-size: 40px;
}

  .colorbox {
    /* background-color: purple; */
    /* cursor: pointer;
    border: solid;
    border-radius: 20px;
    border-color: #92b1eb;
  } */
  
  /* .dropbox {
    border: 2px dashed #e5e5cb7a;
border-radius: 20px;
  }

  nav {
    margin-top: 20px;
    text-align: center;
  } */ */